<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="Console" xsi:type="ColoredConsole" />

    <target name="File" xsi:type="File"
      layout="${longdate} ${uppercase:${level}} ${message}"
      fileName="${basedir}/logs/log.txt"
      archiveFileName="${basedir}/logs/log.{#}.txt"
      archiveEvery="Day"
      archiveNumbering="Rolling"
      maxArchiveFiles="14"
      concurrentWrites="true"
    />

  </targets>

  <!--
    Trace - very detailed logs, which may include high-volume information such as protocol payloads. This log level is typically only enabled during development
    Debug - debugging information, less detailed than trace, typically not enabled in production environment.
    Info - information messages, which are normally enabled in production environment
    Warn - warning messages, typically for non-critical issues, which can be recovered or which are temporary failures
    Error - error messages
    Fatal - very serious errors
  -->

  <rules>
    <logger name="*" minlevel="Trace" writeTo="Console" />
    <logger name="*" minlevel="Trace" writeTo="File" />
  </rules>
</nlog>